#jupyter data
/docker/file_share/jupyter_data/python_scripts/ETL_python_scripts/__pycache__
/docker/file_share/jupyter_data/python_scripts/ETL_python_scripts/content.csv
/docker/file_share/jupyter_data/python_scripts/ETL_python_scripts/manual_run.log
/docker/file_share/jupyter_data/.cache
/docker/file_share/jupyter_data/.ipython
/docker/file_share/jupyter_data/.jupyter
/docker/file_share/jupyter_data/.local
/docker/file_share/jupyter_data/.ipynb_checkpoints
/docker/file_share/jupyter_data/.config

#DWH postgresql data
/docker/file_share/dwh_postgresql_data

#pgadmin data
/docker/file_share/pgadmin_data
