#python_scripts cache

#jupyter_data
/docker/file_share/jupyter_data/python_scripts/ETL_python_scripts/__pycache__
/docker/file_share/jupyter_data/python_scripts/ETL_python_scripts/content.csv
/docker/file_share/jupyter_data/python_scripts/ETL_python_scripts/manual_run.log
/docker/file_share/jupyter_data/.cache
/docker/file_share/jupyter_data/.ipython
/docker/file_share/jupyter_data/.jupyter
/docker/file_share/jupyter_data/.local
/docker/file_share/jupyter_data/.ipynb_checkpoints
/docker/file_share/jupyter_data/.config

#postgresql_data
/docker/file_share/postgresql_data

#pgadmin_data
/docker/file_share/pgadmin_data
